# GEMINI_API_KEY: Required for Gemini AI API calls.
# AI Studio automatically injects this at runtime from user secrets.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# Google OAuth 2.0 Web Client ID
VITE_GOOGLE_CLIENT_ID="785341097976-rela4pq6o0acabtb64b54s802ejo64ou.apps.googleusercontent.com"

# Discord OAuth 2.0 Client ID
VITE_DISCORD_CLIENT_ID=""

# EmailJS Service ID for sending real OTP to Gmail
VITE_EMAILJS_SERVICE_ID="service_nrbio1l"
VITE_EMAILJS_TEMPLATE_ID="template_cow2tol"
VITE_EMAILJS_PUBLIC_KEY="iUU8p3bKZQQcSnh6Q"
